.SearchList {
    margin: 20px auto;

    .searchPanel {
        width: 400px;
        margin: 0 auto;
    }
}

.filmsList {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}