.filmPoster {
    width: 260px;
    border-radius: 5px;
}
.film {
    
}
.filmMain {
    padding: 40px 0 80px 0;
    display: flex;
    justify-content: space-around;
}
.filmPosterWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rateWrap {
    display: flex;
    justify-content: space-around;
}
.filmInfo {
    width: 40%;
    background-color: rgba(0,0,0, .2);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(59, 58, 58);
}
.filmInfoInner {
    padding: 20px 40px;
}
.frameWrap {
    width: 560px;
    margin: 0 auto;
    padding-bottom: 40px;
}