* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-menu {
  text-align: center !important;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}